
.header{
  padding: 40px 0px 30px 0px;
}

.header__logo{
  text-decoration: none;
}


.header__btn{
  width: 24px;
  height: 21px;
  background-image: url(../images/btn.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  margin-right: 10px;
}

.header__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__nav{
  display: none;
  width: 100%;
  padding: 40px 24px;
  position: absolute;
  top: 63px;
  background-color: #3A3054;
  border-radius: 10px;
  
  animation-name: circle-to-square;
  animation-duration: 2s;
  animation-iteration-count: none;
  animation-direction: 5s;
  animation-timing-function: ease;
}

@keyframes circle-to-square {
  0% {
    width: 100%;
    transform: scale(0);
    opacity: 0;
  }
  50% {
    width: 100%;
    transform: scale(1);
    opacity: 1;
  }
}

.nav__list{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav__item:not(:last-child){
  margin-bottom: 30px;
}

.nav__item:last-child{
  padding-bottom: 30px;
  border-bottom: 1px solid #9e9aa86d;;
}

.nav__link{
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

.nav__right{
  display: block;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.right__link{
  display: block;
  margin-top: 30px;
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}

.right__link:last-child{
  margin-top: 24px;
  padding: 10px 0px;
  background-color: #2BD0D0;
  border-radius: 28px;
  
}

.header__inner--active > .header__nav{
  display: block;
}

@media only screen and (min-width:700px){
  .header__btn{
    display: none;
  }
  
  .header__inner > .header__nav{
    position: static;
    display: flex;
    align-items: center;
  }
  
  .nav__list{
    display: flex;
    align-items: center;
  }
  
  .nav__item{
    margin: 0;
    padding: 0;
    margin-left: 30px;
  }

  .nav__item:first-child{
    margin-left: 45px;
  }
  
  .nav__item:not(:last-child) {
    margin-bottom: 0px;
    
  }
  
  .nav__item:last-child {
    padding-bottom: 0px;
    border-bottom: none;
  }
  
  .nav__right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
  }
  
  .right__link{
    margin-top: 0;
  }
  
  .right__link:last-child {
    margin-top: 0px;
    padding: 9px 23px;
  }
  
  .header__nav{
    padding: 0;
    background-color: transparent;
  }
  
  .nav__list{
    margin-right: auto;
  }

  .right__link{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
color: #9E9AA8;
  }
  
  .right__send{
    margin-left: 37px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
color: #FFFFFF;
transition: all 0.3s ease;
  }

  .nav__link{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
color: #9E9AA8;
  }
  
  
}


























